In [ ]:
# imports
from pandas import DataFrame
import numpy as np
from math import exp
from functools import lru_cache

In [ ]:
def f(x, y):
  return 2*x*y

def y(x, C = 1):
  return C*exp(x**2)

def error(yA, yE):
  return abs(yA - yE)

def divideSegment(a, b, N):
  step = (b-a)/N
  parts = []
  x = a
  for i in range(N+1):
    parts.append(x)
    x+=step
  return parts

@lru_cache(maxsize=None)
def Euler(i, y0, X):
  if i == 0:
    return y0
  return Euler(i - 1, y0, X) + (X[i] - X[i-1]) * f(X[i - 1], Euler(i - 1, y0, X))

In [ ]:
a = 0
b = 1
y0 = 1
N = 32
X = tuple(np.linspace(0, 1, N+1))
yA = []
yE = []
# yE.append(y0)
errors = []

for i in range(N):
  yE.append(Euler(i, y0, X))
  # yE.append( yE[i - 1] + (X[i] - X[i -1]) * f(X[i - 1], yE[i - 1]))
for i in range(N):
  yA.append(y(X[i]))
  errors.append(error(yA[i], yE[i]))

df = DataFrame(list(zip(X, yE, yA, errors)), columns=["x_i", "Эйлер", "Аналитическое", "Ошибка"])
df

        x_i     Эйлер  Аналитическое    Ошибка
0   0.00000  1.000000       1.000000  0.000000
1   0.03125  1.000000       1.000977  0.000977
2   0.06250  1.001953       1.003914  0.001961
3   0.09375  1.005867       1.008828  0.002961
4   0.12500  1.011761       1.015748  0.003987
5   0.15625  1.019665       1.024715  0.005049
6   0.18750  1.029623       1.035782  0.006159
7   0.21875  1.041689       1.049015  0.007326
8   0.25000  1.055931       1.064494  0.008564
9   0.28125  1.072429       1.082314  0.009885
10  0.31250  1.091281       1.102584  0.011303
11  0.34375  1.112595       1.125429  0.012834
12  0.37500  1.136498       1.150993  0.014495
13  0.40625  1.163135       1.179439  0.016304
14  0.43750  1.192668       1.210951  0.018284
15  0.46875  1.225280       1.245736  0.020456
16  0.50000  1.261176       1.284025  0.022849
17  0.53125  1.300588       1.326079  0.025491
18  0.56250  1.343772       1.372188  0.028416
19  0.59375  1.391014       1.422675  0.031661
20  0.62500  1.442633       1.477904  0.035271
21  0.65625  1.498986       1.538279  0.039292
22  0.68750  1.560468       1.604250  0.043782
23  0.71875  1.627520       1.676321  0.048801
24  0.75000  1.700631       1.755055  0.054424
25  0.78125  1.780348       1.841079  0.060731
26  0.81250  1.867279       1.935095  0.067816
27  0.84375  1.962102       2.037888  0.075786
28  0.87500  2.065572       2.150338  0.084766
29  0.90625  2.178533       2.273429  0.094896
30  0.93750  2.301926       2.408264  0.106338
31  0.96875  2.436805       2.556084  0.119280

In [ ]:
yE2 = []
yE2.append(y0)
yA2 = []
error2 = []
M = 453
step = (b-a)/M
X = divideSegment(a, b, M)
# X = np.linspace(a, b, M)

for i in range(1, M):
  # yE2.append(Euler(i, y0, tuple(X)))
  yE2.append(yE2[i-1] + (X[i] - X[i-1]) * f(X[i - 1], yE2[i-1]))

for x in X:
  yA2.append(y(x))

for i in range(len(yE2)):
  error2.append(abs(yE2[i] - yA2[i]))

# for i in range(M):
df = DataFrame(list(zip(X, yE2, yA2, error2)), columns=["x_i", "Эйлер", "Аналитическое", "Ошибка"])
df

          x_i     Эйлер  Аналитическое    Ошибка
0    0.000000  1.000000       1.000000  0.000000
1    0.002208  1.000000       1.000005  0.000005
2    0.004415  1.000010       1.000019  0.000010
3    0.006623  1.000029       1.000044  0.000015
4    0.008830  1.000058       1.000078  0.000019
..        ...       ...            ...       ...
448  0.988962  2.649704       2.659257  0.009553
449  0.991170  2.661274       2.670906  0.009633
450  0.993377  2.672919       2.682633  0.009714
451  0.995585  2.684642       2.694438  0.009795
452  0.997792  2.696443       2.706320  0.009878

[453 rows x 4 columns]

In [ ]:
1/32

0.03125